/*
** Name that Color
** http://chir.ag/projects/name-that-color
*/

$cerise: #e53072; // pink dark
$strawberry: #ff3680; // pink bright
$silver: #bcbcbc; // gray
$concrete: #f2f2f2; // almost white

$color-facebook: #3b5998;
$color-twitter: #1da1f2;
