footer {
  a {
    text-decoration: none !important;
  }

  a.link--no-decor {
  border: none;

  }

  a, svg path, svg polygon, svg polyline {
    transition: all .45s;
  }

  a:hover, a:hover path, a:hover polygon {
    color: rgba(0,0,0,.4);
    border-color: rgba(0,0,0,.4);
    fill: rgba(0,0,0,.4);
  }

  .background--lighter {
    background-color: #f2f2f2;
  }

  .space--30-0 {
    padding: 30px 0;
  }

  .l__wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;


    .l__row--h-stretch {
      justify-content: space-between;
    }

    .b__nudge--bottom-large {
      margin-bottom: 30px;
    }
    .text--medium-small {
        font-size: 18px;
        line-height: 28px;
    }

    .text--bold {
        font-weight: 700;
    }

    .list__links {
      display: flex;


      .head, li h4 {
        font-family: Gillsans,Roboto,Helvetica,sans-serif;
      }

      .head {
        text-transform: uppercase;
        letter-spacing: 1.5px;
      }

      li {
        letter-spacing: .3px;
        font-family: Roboto,Helvetica,sans-serif;
        font-size: 14px;
        padding: 0;
        margin: 0;
        list-style: none;
      }


      .list__links--no-decor a {
          border: none;
      }
    }


    .l__row {
      display: flex;
      flex-direction: row;
      align-items: center;

      .l__row--wrap {
        flex-wrap: wrap;
      }

      .l__row--top {
        align-items: flex-start;
      }

      .list__links--row {
        flex-direction: row;
        align-items: center;
        justify-content: center;

        li {
          padding-right: 15px;
        }
      }

      .list__links--col {
        flex-direction: column;
        margin-bottom: 15px;
      }
    }


    .l__row--top {
      align-items: flex-start;
    }

    .l__row--wrap {
      flex-wrap: wrap;
    }

    .list__links--svgs li {
      padding-right: 20px !important;

     .fa {
       font-size: 38px;
     }
    }


    .list__links--col li {
      width: 180px;
      padding-bottom: 4px;
    }

    @media (max-width: 1000px) {
      .l__tablet--col {
          display: flex;
          flex-direction: column;
          align-items: stretch;
      }

      .donate-mail {
          border-top: 1px solid #bcbcbc;
          border-bottom: 1px solid #bcbcbc;
          padding: 20px 0;
          margin-bottom: 25px;
          text-align: center;
          align-items: stretch;
      }

      .l__hide--on-tablet {
          display: none!important;
      }
    }

    @media (max-width: 650px) {
      .l__mobile--col-center {
          align-items: center;
      }
    }
  }
}
