.logo {
    display: inline-block;
    font-family: $gillsans;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: -.7px;
    text-decoration: none !important;
    white-space: nowrap;
}
